-r kotti-requirements.txt

# Kotti
Kotti[development,testing]==1.2.1

# devel (to no be added in production)
zest.releaser

# Third party's eggs
kotti_newsitem==0.2
kotti_calendar==0.8.2
kotti_link==0.1
kotti_navigation==0.3.1

# Develop eggs
# -e git+https://github.com/USER/REPO.git#egg=REPO

-e .[docs]
