-r kotti-requirements.txt

Kotti==1.2.4

# Third party's eggs
kotti_newsitem==0.2
kotti_calendar==0.8.2
kotti_link==0.1
kotti_navigation==0.3.1

# Other specific production requirements
pyramid_exclog==0.7

# Develop eggs
# -e git+https://github.com/USER/REPO.git@TAG#egg=REPO

-e .[uwsgi,postgresql]

